<%- include('partials/header') %>
<body>
<div class="jumbotron text-center">

  <div class="col-md-4 col-md-offset-4">
		
		
		<div class="main">
			
			
				
			
		
	</div> 
  <div class="container">
    
    <h3 class="display-3">You are successfully Logged</h3>
    <p class="secret-text">Welcome</p>
    <p class="secret-text" name="name"><%= username %></p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

  </div>
</div>
</body>
<%- include('partials/footer') %>
